<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-feature android:glEsVersion="0x00030002" android:required="true" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />

    <!-- Declaring optional hand tracking stops the shell from refusing to launch
         the app when the controllers are asleep. -->
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />
    <queries>
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService" />
        </intent>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRApiLayerService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true"
        android:hasCode="true">

        <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only" />
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2|quest3|questpro|cambria|eureka" />
        <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
        <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW" />
        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />

        <activity
            android:name="com.vdriftvr.VDriftVRActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode">

            <meta-data android:name="android.app.lib_name" android:value="vdriftvr" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>
        </activity>
    </application>
</manifest>
